h1{
    color:blueviolet;
}

img{
    width: 400px;
}

#thirdDiv{
    height: 500px;
    width: 600px;
    background-color: crimson;
    padding: 50px;
    border: 20px solid black;
}

#spanId{
    font-size: 18px;
    margin: 50px;
}